<?xml version="1.0" encoding="utf-8"?>
<Configure>
  <Basic WorkerNum="10" MaxAgentNum="100000"/>
  <Services>
    <Service Name="Encoder" Params=""/>
    <Service Name="AgentMgr" Params=""/>
    <Service Name="Login" Params=""/>
    <Service Name="Gateway" Params="IP=127.0.0.1,Port=8888"/>
    <!--<Service Name="AdminConsole" Params=""/>-->
    <!--<Service Name="Main" Params=""/>-->
  </Services>
  <Network SocketInputBufferLen="40960" SocketOutputBufferLen="40960"/>
  <Data DataPath=".\ConfigData\Data\Json"/>
  <Log LogConfigPath= "Xml/LogConfigue.xml"></Log>
  <MongoDB DataBase="MyDB" ConnectHost="127.0.0.1" Port="27017" ReplicaSet="" UserName="" Password=""/>
</Configure>